In [15]:
import sqlite3

In [54]:
def create_table(table):
    conn=sqlite3.connect(table+".db")
    cur=conn.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS store (item TEXT, quantity INTEGER, price REAL)")
    conn.commit()
    conn.close()

In [26]:
def insert(item,quantity,price):
    conn=sqlite3.connect("lite.db")
    cur=conn.cursor()
    cur.execute("INSERT INTO store VALUES (?,?,?)",(item,quantity,price))
    conn.commit()
    conn.close()

In [51]:
def view(table):
    conn=sqlite3.connect(table+".db")
    cur=conn.cursor()
    cur.execute("SELECT * FROM store")
    rows=cur.fetchall()
    conn.close()
    return rows

In [34]:
def delete(item):
    conn=sqlite3.connect("lite.db")
    cur=conn.cursor()
    cur.execute("DELETE FROM store WHERE item=?", (item,))
    conn.commit()
    conn.close()

In [37]:
def update(quantity, price, item):
    conn=sqlite3.connect("lite.db")
    cur=conn.cursor()
    cur.execute("UPDATE store SET quantity=?, price=? WHERE item =?", (quantity,price,item))
    conn.commit()
    conn.close()

In [18]:
create_table()

In [40]:
insert("water glass", 15, 3)

In [42]:
update(11,6,"water glass")

In [35]:
delete("Wine glass")

In [52]:
print(view("lite"))

[('Coffy cup', 10, 5.0), ('Coffee cup', 10, 5.0), ('water glass', 11, 6.0)]